* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Roboto Mono", monospace;
  --text-color: hsl(240, 9%, 89%);

  --bg-body: hsl(0, 0%, 0%);
  --bg-input: hsl(191, 65%, 7%);
  --bg-button-hover: hsl(195, 91%, 25%);
  --bg-table: hsl(192, 63%, 3%);
  --bg-th: hsl(194, 72%, 13%);
  --bg-tr-even: hsl(191, 65%, 7%);
  --bg-tr-odd: hsl(193, 61%, 6%);

  --text-color-white: hsl(0, 0%, 100%);
  --text-color-input: hsl(240, 6%, 51%);
  --text-color-h2: hsl(189, 4%, 32%);
  --remove-button-color: hsl(355, 91%, 66%);

  --brd-color: hsl(191, 31%, 42%);
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--bg-body);
}

body * {
  font-family: var(--ff-primary);
}

h1,
.noneFavorites h2 {
  font-family: var(--ff-secondary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  padding-top: 2rem;
  max-width: 100rem;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 2rem 0;
}

.title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

header .title h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 2.4rem;

  color: var(--text-color-white);
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.search input {
  min-width: 43rem;
  border: none;
  border-radius: 0.5rem;
  padding: 1.6rem;

  color: var(--text-color);
  background-color: var(--bg-input);
}

.search input::placeholder {
  color: var(--text-color-input);
}

.search button {
  padding: 1.2rem 3.2rem;

  border-radius: 0.5rem;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-transform: uppercase;

  background-color: var(--bg-button-hover);
  color: var(--text-color-white);

  cursor: pointer;
}

.search button:hover #starImg {
  filter: invert(100%) sepia(100%) hue-rotate(195deg) saturate(91%)
    brightness(25%);
}

.search button:hover {
  background-color: var(--text-color-white);
  color: var(--bg-button-hover);
}

table {
  width: 100%;
  background-color: var(--bg-table);
  border: 1px solid var(--brd-color);

  border-collapse: separate;
  border-spacing: 0;
  border-radius: 1.2rem;

  margin-top: 8rem;
}

table * {
  font-size: 1.4rem;
  color: var(--text-color);
}

table th {
  background: var(--bg-th);
  text-align: left;
  padding: 1.5rem;
}

table th:first-child {
  border-top-left-radius: 1.2rem;
  min-width: 15rem;
  padding-left: 3rem;
}

table td:first-child {
  padding-left: 3rem;
}

table th:last-child {
  border-top-right-radius: 1.2rem;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 1.2rem;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 1.2rem;
}

table tr:nth-child(even) {
  background: var(--bg-tr-even);
}

table tr:nth-child(odd) {
  background: var(--bg-tr-odd);
}

table td {
  padding: 1.5rem;
  text-align: left;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

td.user img {
  width: 5rem;
  height: 5rem;

  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: bold;
}

td .remove {
  background: none;
  border: none;

  color: var(--remove-button-color);

  cursor: pointer;
}

.noneFavorites {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  height: 60vh;
}

.noneFavorites h2 {
  color: var(--text-color-h2);

  font-size: 4rem;
  font-weight: 700;
  line-height: 2rem;
}
